h1{
    color: gold;
}

a:link, a:visited{
    background-color: #b5179e;
    color:aliceblue;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
}

a:hover, a:active{
    background-color:black;
}

/*a:link{
    color: chartreuse;
    text-decoration: none;
}

a:visited{
    color:blueviolet;
    text-decoration: none;
}

a:hover{
    color: black;
    text-decoration: underline;
}

a:active{
    color:cyan;
    text-decoration: underline;
}*/
